.login-body{
    width: 100vw;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.background {
    width: 100vw;
    min-height: 90vh;
    background-image: url('../../../img/foto\ estudio\ 3.png');
    background-size: cover;
    filter: blur(2.5px);
}

.pagination-login {
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredericka the Great', serif;
    background-color: #cec69b65;
    position: absolute;
    z-index: 2;
    top: 0;
}

.input-card-login {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18em;
    height: 16em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1em;
    background-image: linear-gradient(135deg, #000000 0%, #787878 100%);
    color: white;
    padding-top: 2em;
    border: 0.1em solid #cec69b65;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    margin-top: 2em;
}