.login-body{
    width: 100vw;
    min-height: 90vh;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.input-card{
    background-color: gray;
    margin: 2em;
    padding: 2em;
    border: 0.2em solid black;
    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonSubmit{
    width: 5em;
    height: 3em;
    border: 0.2em solid black;
    background-color: gray;
    color: black;
    border-radius: 1em;
    cursor: pointer;
}


.buttonSubmit:active{
  transform: scale(0.9);
}

