.users-body{
    width: 100vw;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.background{
    width: 100vw;
    min-height: 90vh;
    background-image: url('../../../img/foto\ estudio\ 3.png'); 
    background-size: cover;
    filter: blur(2.5px);
}

.card-user{
    position: absolute;
    transform: translate(0%, -100%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 83vh;
}

.pagination{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredericka the Great', serif;
    background-color: #cec69b65;
    position: absolute;
    transform: translate(0%, -1285%);
    z-index: 2;
}