.appointments-body{
    height: 84vh;
    width: 100vw;
    background-color: aqua;

    display: flex;
    justify-content: center;
}

.createAppointment{
    width: 12em;
    height: 2em;
    background-color: lightblue;
    border: 0.2em solid black;
    border-radius: 0.7em;
    color: black; 
}

.appointments-Roster{
    width: 70%;
}