.appointments-body{
    position: relative;
    overflow: hidden;
    user-select: none;
}

.all-appointments-body{
    min-height: 90vh;
    width: 100vw;
    background-image: url('../../../img/foto\ estudio\ 3.png'); 
    background-size: cover;
    filter: blur(2.5px);
}

.container-appointments{
    width: 100vw;
    height: 45vh;
    top: 25%;
    left: 50%; 
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.title-all-appointments{
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredericka the Great', serif;
    background-color: #cec69b65;
}

.all-appointments{
    width: 100vw;
    height: 83vh;
    display: flex;
    position: absolute;
    top: 108%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.margin-top {
    margin-top: 1em;
}