.linkButtonDesign {
    border-radius: 0.7em;
    margin-right: 1.8em;
    margin-bottom: 0.3em;
    color: #cec69b;
    font-size: 1.5em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredericka the Great', serif;
    cursor: pointer;
}