.previus {
    color: white;
    font-size: 0.8em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredericka the Great', serif;
    cursor: pointer;
    border: 0.02em solid white;
    border-radius: 0.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: rgba(255, 255, 255, 0.283);
}

.next {
    color: white;
    font-size: 0.8em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredericka the Great', serif;
    cursor: pointer;
    border: 0.02em solid white;
    border-radius: 0.3em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: rgba(255, 255, 255, 0.283);
}