.delete-button{
    font-size: 1.1em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Fredericka the Great', serif;
    text-shadow: 1px 1px 1px rgb(116, 115, 115);
    color: white;
    background-color: crimson;
    border: 1px solid rgba(160, 154, 121, 1);
    border-radius: 0.5em;
    transition: 0.7s ease;
    user-select: none;
    margin-bottom: 0.5em;
    width: 6em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items:self-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button:hover{
    color: #ffffff;
    background: crimson;
    border: 1px solid crimson;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px crimson,
                0 0 20px crimson,
                0 0 50px crimson,
                0 0 100px crimson;
  }