.card {
  height: 10em;
  width: 100%;
  border-radius: 1em;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  background-color: darkcyan;
  border: 0.2 solid black;
  transition: 1s;
  margin: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
}

.card:hover {
  transform: scale(1.2);
  transition: 1s;
}

.photo {
  width: 6em;
}

.card-appointment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1em 0em 1em 0em;
  border-radius: 0.5em;
  background-color: rgb(161, 172, 219);
  margin: 2.5em;
  transition: 1s;
}

.card-appointment-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition-duration: 2s;
}

.card-appointment img {
  border-radius: 10%;
  width: 30%;
  margin-top: 1.25em;
}

.date-category {
  display: flex;
  justify-content: space-between;
  margin-right: 6em;
}

.date,
.shift,
.service,
.status,
.client_name,
.client_email {
  margin-right: 3em;
}

.button-spoiler {
  width: 10em;
}

.tattoo-artist-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-update-appointment{ 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 5em;
  width: 5em;
}

.button-update-appointment img{ 
  height: 5em;
  width: 5em;
  padding: 0;
  margin: 0;
}