.photo {
  max-width: 7em;
  min-width: 7em;
}

.card-appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65em;
  text-align: center;
  padding-right: 1.4em;
  border-radius: 0.5em;
  border: 0.1em solid #736c4c;
  background-image: linear-gradient(135deg, #787878 0%, #000000 100%);
  margin: 1.2em;
  transition: 1s;
  font-family: 'Dancing Script', cursive;
  font-family: 'Fredericka the Great', serif;
  text-shadow: 2px 2px 2px black;
  box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
  color: white;
}

.date-category {
  display: flex;
  align-items: center;
}

.card-appointment img {
  border-radius: 10%;
  width: 30%;
  margin-top: 1.25em;
}

.date-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5.5em;
}

.date,
.shift,
.service,
.nameProduct,
.status,
.client_name,
.client_email {
  width: 6.2em;
}

.tattoo-artist-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-update-appointment {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 5em;
  width: 5em;
}

.button-update-appointment img {
  height: 3em;
  width: 3em;
}

.link-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsed-button:hover {
  color: #ffffff;
  background: rgba(160, 154, 121, 1);
  border: 1px solid rgba(160, 154, 121, 1);
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px rgba(160, 154, 121, 1),
    0 0 20px rgba(160, 154, 121, 1),
    0 0 50px rgba(160, 154, 121, 1),
    0 0 100px rgba(160, 154, 121, 1);
}

.card-appointment-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.direction-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}