#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 0.5em;
  }
  .flip-card {
    font-size: 1.3em;
  }
  .book {
    font-size: 1.3em;
  }
  .img-welcome{
    height: 100%;
  }
  .input-card-update{
    font-size: 1.8em;
  }
  .input-card-login{
    font-size: 1.8em;
  }
  .input-card-register{
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 680px) {
  html {
    font-size: 0.33em;
  }
  .flip-card {
    font-size: 1.3em;
  }
  .book {
    font-size: 1.3em;
  }
  .div-info{
    font-size: 2.4em;
  }
  .input-card-update{
    font-size: 2.4em;
  }
  .input-card-login{
    font-size: 2.4em;
  }
  .input-card-register{
    font-size: 2.4em;
  }
  .container-image-studio{
    font-size: 2.4em;
  }
  .input-card-update-appointment{
    font-size: 2.4em;
  }
  .responsive{
    font-size: 2em;
  }
  .img-welcome{
    height: 100%;
  }

}