.portfolio-body{
    width: 100vw;
    min-height: 90vh;
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
}

.card-portfolio{
    display: flex;
    flex-wrap: wrap;
}